.footer {
  background-color: #2d343c;
  padding: 60px 0;
}

.footer ul {
  padding-left: 0;
  margin-bottom: 0;
  list-style-type: none;
}

.footer ul li {
  margin-bottom: 15px;
  font-size: 14px;
  letter-spacing: 0.05em;
}

.footer ul li a {
  color: #fff;
  text-decoration: none;
  transition: all 0.09s ease-out;
}

.footer ul li a:hover {
  color: #d4c17f;
}

.footer ul li:last-child {
  margin-bottom: 0;
}



.footer__contacts li a {
  font-weight: 700;
  color: #d4c17f !important;
}

.footer__social {
  margin-top: 20px;
}

.footer__social li {
  display: inline-block;
  margin-right: 20px;
  margin-bottom: 0 !important;
}

.footer__social li:last-child {
  margin-right: 0;
}

.footer__social [class*="icon-"]:before {
  font-size: 20px;
  transition: all 0.09s ease-out;
}

.footer__social a:hover [class*="icon-"]:before {
  color: #d4c17f;
}

@media (max-width: 992px) {
  .footer {
    text-align: center;
  }

  .footer .brand {
    margin-bottom: 30px;
    display: block;
  }

  .footer__menu {
    margin-bottom: 15px !important;
  }

  .footer__contacts {
    margin-top: 15px;
  }
}
